<div class="lg:flex p-4">
    <div class="w-full lg:w-1/2 border-t-8 shadow rounded border-primary-800">
        <app-encabezado-formulario titulo="Actualizando contraseña" dirRegresar="/dashboard/usuarios"></app-encabezado-formulario>
        <form autocomplete="off" [formGroup]="passwordForm" class="px-5 pb-5">

            <div class="flex flex-col lg:flex-row mt-2">
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-semibold mt-3 text-gray-600 text-sm"> Password </div>
                    <input type="password" placeholder="******" formControlName="password" class="p-2 appearance-none border-b-2 transform duration-500 focus:border-primaryColor outline-none w-full text-gray-800 text-sm"></div>
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-semibold mt-3 text-gray-600 text-sm"> Repetir password </div>
                    <input type="password" placeholder="******" formControlName="repetir" class="p-2 appearance-none border-b-2 transform duration-500 focus:border-primaryColor outline-none w-full text-gray-800 text-sm"></div>
            </div>
            <div class="flex flex-col lg:flex-row mt-2">
                <div class="w-full mx-2 flex-1">
                    <app-boton-formulario diabled (click)="actualizarPassword()">
                        Actualizar constraseña
                    </app-boton-formulario>
                </div>
            </div>
        </form>
    </div>
    <div [ngClass]="{'border-red-600': (passwordForm.value.password !== passwordForm.value.repetir || passwordForm.value.password === ''), 'border-green-600': (passwordForm.value.password === passwordForm.value.repetir && passwordForm.value.password !== '')}"
        class="mt-2 lg:mt-0 border-t-8 w-full shadow lg:w-1/2 lg:ml-3 border-gray-800 p-4 rounded h-full bg-white">
        <div class="flex items-center justify-between">
            <div class="flex">
                <div *ngIf="usuario.role === 'ADMIN_ROLE'" class="bg-green-100 flex items-center justify-center w-32 h-32 rounded-full shadow border border-green-200">
                    <p class="text-6xl font-semibold text-green-700 pb-2"> A </p>
                </div>
                <div *ngIf="usuario.role === 'USER_ROLE'" class="bg-orange-100 flex items-center justify-center w-32 h-32 rounded-full shadow border border-orange-200">
                    <p class="text-6xl font-semibold text-orange-700 pb-2"> C </p>
                </div>
                <div class="ml-4 mt-2">
                    <div class="mt-1">

                        <!-- Nombre de usuario -->
                        <p class="font-semibold text-3xl">{{ usuario.usuario }} </p>

                        <!-- Apellido y Nombre -->
                        <p class="text-gray-800 text-2xl capitalize"> {{ usuario.nombre.toLowerCase() }} {{ usuario.apellido.toLowerCase() }} </p>

                        <!-- Correo electronico -->
                        <p class="text-gray-500 italic text-md"> {{ usuario.email.toLowerCase() }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>