<div class="lg:flex lg:justify-center mt-10 mb-10">
    <div class="gsap-intro ml-10 mt-5 w-96 border-t-8 pt-5 px-10 shadow border-primaryColor rounded-t">
        <p class="font-semibold text-3xl text-center text-gray-600"> Detalles del sistema </p>
        <div class="text-gray-500 text-center mt-5">
            <p class="text-lg font-semibold text-primaryColor"> Don Hilario Carnicerias </p>
            <p> Sistema de ventas + control de stock </p>
            <img class="h-52 w-44 mr-auto ml-auto mt-4" src="assets/img/Logo.png" alt="Logo Don Hilario">
        </div>
        <div class="text-sm text-center mt-5">
            <a href="http://equinocciotech.com" target="_blank" class="bg-white text-gray-600 p-2 cursor-pointer hover:text-primaryColor text-center rounded text-sm"> Desarrollado por Equinoccio Technology </a>
            <P class="bg-white text-gray-600 mr-auto ml-auto rounded text-sm"> v2.0 </P>
        </div>
        <br>
    </div>
    <div class="gsap-intro ml-10 mt-5 w-96 pb-5 border-t-8 pt-5 px-10 shadow border-yellow-600 rounded-t">
        <p class="font-semibold text-3xl text-center text-gray-600"> Desarrollador </p>
        <div class="text-gray-500 text-center mt-5">
            <p class="text-lg font-semibold text-yellow-600"> Equinoccio Technology </p>
            <p> La tecnología al alcance de todos </p>
            <img class="h-40 w-40 mr-auto ml-auto mt-4" src="assets/img/Logo-Equinoccio.png" alt="Logo Don Hilario">
        </div>
        <div class="text-sm text-center mt-5">
            <p class="bg-white text-gray-600 mt-2 text-center rounded text-sm"> CEO Ing. Lucas Omar Moreno </p>
            <p class="bg-white text-gray-600 mt-1 text-center rounded text-sm mb-3"> Tel. 2664869642 </p>
            <a href="http://equinocciotech.com" target="_blank" class="font-semibold cursor-pointer hover:text-yellow-600 text-gray-700"> Mas información </a>
        </div>
    </div>
</div>